body{
    min-height: 100vh;
    display: flex;
    align-items: end;
    background-color: black;
    margin: 0;
    padding: 0;
}

.calculator{
    width: 400px;   
    margin: auto;
    background-color: black;    
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 5px;
    font-weight: 900;
    background-color: #333333;
    border: none;
    color: white;
    font-size: 27px;
}

.button1{
    flex-grow: 0.8;
}

input{
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    background-color: black;
    border: none;
    color: white;
    font-size: 55px;
    text-align: right;
    font-weight: 900;
}

.btngrey{
    background-color: #a5a5a5;
    opacity: 0.8;
    color: black;
}

.btnyellow{
    background-color: #ff9500;
}
